In [22]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [23]:
pwd

'/Users/rtavakoli20/Desktop/Python/Learning/Udemy/Python for Data Science/Refactored_Py_DS_ML_Bootcamp-master/03-Python-for-Data-Analysis-Pandas'

In [24]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [32]:
df[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019","October 25, 2019"
1,"Louisa Community Bank, Inc.",Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019","October 25, 2019"
2,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
3,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
4,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","August 12, 2019"

In [33]:
from sqlalchemy import create_engine